<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "hospitalDAO">

    <resultMap id="hospitalResultMap" type="com.example.gts_project.hospital.hospitalVO">
        <id property="hospId" column="HospId"/>

        <result property="hospName" column="HospName"/>
        <result property="address" column="Address"/>
        <result property="tel" column="Tel"/>
        <result property="opHrs" column="OpHrs"/>
        <result property="homePage" column="Homepage"/>
        <result property="totalDoc" column="TotalDoc"/>
        <result property="availabeDoc" column="AvailableDoc"/>
        <result property="totalBeds" column="TotalBeds"/>
        <result property="availableBeds" column="AvailableBeds"/>

        <result property="userId" column="UserId"/>
    </resultMap>

    <!--
    <hospital 테이블 객체>
    === 병원 계정에서 ===
    1. 전체 침대, 잔여 여석, 전체 의사, 대기 의사(이건 병원 데이터임)
    =>병원의 personId를 UserId로 가진 HospitalVO를 불러오게 하면 됨(이후 객체의 멤버 털어서 쓰면 된다)
    (2). 이송환자 리스트, 입원 환자 리스트 (이건 환자 테이블의 메서드를 사용하면 됨)
    === 중앙 관리 센터에서 ===
    1. 병원 리스트 HospId순으로 반환
    -->
    <insert id="insertHospital">
        INSERT INTO gts.hospital (
            HospName, Address, Tel, OpHrs, Homepage, TotalDoc, AvailableDoc, TotalBeds, AvailableBeds, UserId
        ) VALUES (
                     #{hospName},
                     #{address},
                     #{tel},
                     #{opHrs},
                     #{homePage},
                     #{totalDoc},
                     #{availabeDoc},
                     #{totalBeds},
                     #{availableBeds},
                     #{userId}
                 )
    </insert>

    <select id="getHospital" parameterType="int" resultMap="hospitalResultMap">
        SELECT * FROM gts.hospital WHERE UserId = #{personId}
    </select>
    <select id="getHospitalList" resultMap="hospitalResultMap">
        SELECT * FROM gts.hospital ORDER BY HospId ASC
    </select>

</mapper>