<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "userDAO">

    <!--
    resultMap (which is tag/element): 데이터베이스에서 가져온 결과(ResultSet)를 자바 객체(VO/DTO)에 어떻게 매핑할지 정의하는 설계도 역할

    ===================================================================================================================

    <select id="getUser" resultMap="userResultMap">
    SELECT PersonId, UserName FROM user  > </select>
    ===================================================================================================================

    => 마이바티스가 resultMap 설계도를 보고, **"아, PersonId 컬럼 값은 자바의 personId 변수에 담아주면 되는구나!"**라고 알아서 배달해 줍니다.
    -->
    <resultMap id="userResultMap" type="com.example.gts_project.user.userVO">
        <id property="personId" column="PersonId"/>
        <result property="userName" column="UserName"/>
        <result property="password" column="Password"/>
        <result property="userType" column="UserType"/>
        <result property="phoneNum" column="PhoneNum"/>
    </resultMap>

    <insert id = "insertUser">
        INSERT INTO gts.user (
            UserName, Password, UserType, PhoneNum
        ) VALUES (
                     #{userName}, #{password}, #{userType}, #{phoneNum}
                 )
    </insert>


    <select id="getUserByUserName" parameterType="String" resultMap="userResultMap">
        SELECT * FROM gts.user WHERE UserName = #{userName}
    </select>

    <select id="getUserListByUserType" parameterType="int" resultMap="userResultMap">
        SELECT * FROM gts.user WHERE UserType = #{userType}
    </select>

    <select id="getUser" parameterType="int" resultMap="userResultMap">
        SELECT * FROM gts.user WHERE PersonId = #{personId}
    </select>

    <select id="getUserList" resultMap="userResultMap">
        SELECT * FROM gts.user
    </select>

    <update id="updateUser">
        UPDATE gts.user
        SET
            UserName = #{userName},
            Password = #{password},
            UserType = #{userType},
            PhoneNum = #{phoneNum},
        WHERE PersonId = #{personId}
    </update>

    <delete id = "deleteUser">
        DELETE FROM gts.user WHERE PersonId = #{personId}
    </delete>

    <select id="getUserCnt" resultType="int">
        SELECT count(*) FROM gts.user
    </select>

</mapper>