<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "userDAO">

    <resultMap id="userResultMap" type="com.example.gts_project.user.userVO">
        <id property="personId" column="PersonId"/>
        <result property="userName" column="UserName"/>
        <result property="password" column="Password"/>
        <result property="userType" column="UserType"/>
        <result property="phoneNum" column="PhoneNum"/>
    </resultMap>

    <insert id = "insertUser">
        INSERT INTO gts.user (
            UserName, Password, UserType, PhoneNum
        ) VALUES (
                     #{userName}, #{password}, #{userType}, #{phoneNum}
                 )
    </insert>


<!--    <select id="getUserByUserName" parameterType="String" resultMap="userResultMap">-->
<!--        SELECT * FROM gts.user WHERE UserName = #{userName}-->
<!--    </select>-->

    <select id="getUserListByUserType" parameterType="int" resultMap="userResultMap">
        SELECT * FROM gts.user WHERE UserType = #{userType}
    </select>

    <select id="getUser" resultMap="userResultMap">
        SELECT * FROM gts.user WHERE PersonId = #{personId}
    </select>

    <select id="getUserList" resultMap="userResultMap">
        SELECT * FROM gts.user
    </select>

    <update id="updateUser">
        UPDATE gts.user
        SET
            UserName = #{userName},
            Password = #{password},
            UserType = #{userType},
            PhoneNum = #{phoneNum},
        WHERE PersonId = #{personId}
    </update>

    <delete id = "deleteUser">
        DELETE FROM gts.user WHERE PersonId = #{personId}
    </delete>

    <select id="getUserCnt" resultType="int">
        SELECT count(*) FROM gts.user
    </select>

</mapper>